<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <p>Witam.</p>
 <p>Zarejestrował się nowy użytkownik.<BR><BR>
    Dane użytkownika:<br>
    Nazwa: {{username}}<br>
    Email: {{email}}<br>
    ID: {{id}}</p>
</body>
</html>