<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nowe hasło dla użytkownika {{username}}</title>
</head>
<body>
<h3>Witaj {{  username }}.</h3>

<p>Zresetowałeś swoje hasło.</p>
<p>Twoim nowym hasłem jest <b>{{ newPassword }}</b>. Pamiętaj, że zawsze możesz je zmienić w panelu użytkownika</p>
<br>
<p>Pozdrowienia
Wachcio - AtlasGrzybów</p>

</body>
</html>