<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link resetu hasła dla {{username}}</title>
</head>
<body>
<h3>Witaj {{  username }}.</h3>

<p>Została wysłana prośba o reset Twojego hasła.</p>
<p>Aby to uczynić kliknij w ten <a href="{{ resetPasswordLink }}">link</a>. Link jest ważny do {{resetPasswordExpirationDate}}. Następnie zostanie wysłany do Ciebie drugi email z nowym hasłem. Jeśli chciałbyś go zmienić zawsze masz taką możliwość w panelu użytkownika.</p>
<p>Jeśli nie wysyłałeś prośby zignoruj tę wiadomość.</p>
<br>
<p>Pozdrowienia
Wachcio - AtlasGrzybów</p>

</body>
</html>